.header {
	
	background-color: #ffffff;
	padding: 0.5em;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: right;
	height: 6vh;
	border-style: solid;
}

.header nav a {
	padding: 0.2em 1.5em;
	transition: background-color 0.3s linear;
	text-decoration: none;

}

.header nav a:hover {
	background-color: #EDC7B7;
}

/*.header img {
	height: 100vh;
} */