

.Footer {
	background-color: #123C69;
	width: 100%;
	height: 13vh;
	display: flex;
	align-items: center;
	position: sticky;
}

.Footer p {
	margin-left: 4em;
	color: #EDC7B7;
	
	font-weight: 800;
}

