

.Footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color : #123C69;
	text-align: center;
	height: 13vh;
	/* background-color: #123C69;
	width: 100%;
	
	display: flex;
	align-items: center;
	position: relative;
} */
}

.Footer p {
	margin-left: 4em;
	color: #EDC7B7;
	
	font-weight: 800;
}

