@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');




.App {
  text-align: center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}



.serverDown {
  size: 2em;
  color: #EDC7B7
}

